{% extends "base.html" %}

{% block content %}

<div class="text-4xl font-bold">Welcome back, Terps!</div>
<div class="text-xl">Get ready for the upcoming semester by giving us all of your money today!</div>

<div class="my-4 border-2 border-gray-500 rounded-lg">
    <img class="rounded-b-md saturate-200 hue-rotate-60 rotate-180" src="/static/index_gear.avif" alt="2023 Sideline Gear Now Available!">

    <div class="p-2 border-t-2 border-gray-500">
        Do you like sports?
        Do you like how we close all of the parking lots every week for the sports games?
        No?
        Well, you should still buy the 2023 sideline gear, now available!
        Go Terps!
    </div>
</div>

<div class="my-4 border-2 border-gray-500 rounded-lg">
    <img class="rounded-t-md saturate-200 hue-rotate-60 rotate-1 -skew-x-3" class="rounded-md" src="/static/index_rent.avif" alt="Renting saves you money!">

    <div class="p-2 border-t-2 border-gray-500">
        Look at this happy student!
        They are so happy because they are saving money by renting instead of buying.
        You should rent everything and own nothing.
        It's the future of this society and you'll learn to love it!
    </div>
</div>

<div class="my-4 border-2 border-gray-500 rounded-lg">
    <img class="rounded-t-md saturate-200 -hue-rotate-60" src="/static/index_supplies.webp" alt="Stay stocked up on school supplies!">

    <div class="p-2 border-t-2 border-gray-500 -rotate-1 skew-y-6">
        Wow, we plastered our logo on everything that we could think of!
        This definitely justifies our massive 200% upcharge.
        Even though we're ripping you off, you'll still give us money because you love us.
        You totally love us.
    </div>
</div>

{% endblock %}
